h3 {
    margin-bottom: 0.5rem;
}

.project-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 4rem;
    min-height: 100vh;
    transition: all 0.25s;
}

.darken {
    background-color: hsla(0, 0%, 0%, 0.8);
}

.project-card-container {
    height: 20rem;
    width: 30rem;
    margin: 2rem;
}

.project-card {
    height: 20rem;
    width: 30rem;
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.25s;
}

.project-card.active {
    height: 40rem;
    width: 60rem;
    left: calc(50vw - 30rem) !important;
    top: calc(50vh - 20rem) !important;
}

@media (max-width: 1087px) {
    .project-card.active {
        height: 30rem;
        width: calc(100% - 2rem);
        left: 1rem !important;
        top: calc(50vh - 15rem) !important;
    }
}

.project-image {
    display: block;
    object-fit: cover;
}

.project-content {
    position: relative;
    bottom: 20%;
    height: calc(20% - 2rem);
    padding: 1rem;
    background-color: rgba(31, 31, 31, 0.8);
    /*backdrop-filter: blur(0.5rem);*/
    transition: all 0.25s;
}

.project-description {
    color: #ffffff00;
    visibility: hidden;
    transition: all 0.35s ease-in;
}


.project-card:hover:not(.active) {
    cursor: pointer;
}

.project-card:hover .project-description {
    color: #ffffff;
    visibility: visible;
}

.project-card:hover .project-content {
    height: 40%;
    bottom: 40%;
}

.active .project-content {
    height: 40%;
    bottom: 40%;
}

.active .project-description {
    color: #ffffff;
    visibility: visible;
}