body {
  background-color: #282c34;
  color: white;
}

nav {
  background-color: hsl(220, 13%, 10%);
  width: 100%;
  position: fixed;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

li {
  float: left;
  margin-right: 1rem;
}

li a {
  display: block;
  padding: 1rem;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: hsl(220, 13%, 15%);
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  height: 500px;
  width: 500px;
}