h1, h2, h3, p {
  margin: 0;
}

nav {
  background-color: hsl(220, 13%, 10%);
  width: 100%;
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

li {
  float: left;
  margin-right: 1rem;
}

li a {
  display: block;
  padding: 1rem;
  color: inherit;
  text-align: center;
  text-decoration: underline 0.15rem rgba(255, 255, 255, 0);
  text-underline-offset: 0.25rem;
  transition: all 0.1s ease-out;
}

li a:hover {
  background-color: hsl(220, 13%, 15%);
  text-decoration-color: rgba(255, 255, 255, 1);
}

main {
  height: calc(100vh - 50px);
}

iframe {
  height: 500px;
  width: 500px;
}