.home-container {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://www.teahub.io/photos/full/281-2811959_photo-wallpaper-computer-coding-programing-codding-software-development.jpg');
    background-size: cover;
    filter: blur(0.2rem);
}

.home-banner {
    position: absolute;
    left: 25%;
    top: calc(50vh - 25% + 50px - 2rem);
    width: 50%;
    text-align: center;
    font-size: 2rem;
}